@model AppNews.Models.News

@{
    ViewBag.Title = "About";
}

<div class="_new">
    @if (!string.IsNullOrEmpty(Model.Thumbnail))
    {
        <div class="row">
            <div class="col-md-12">
                <img src="@Model.Thumbnail" alt="@Model.Title" class="img-responsive new-thumb" />
            </div>
        </div>
    }

    <h1>@Model.Title</h1>
    <hr />
    <section>
        @Html.Raw(Model.Content)
    </section>

</div>