@model IEnumerable<AppNews.Models.News>

@{
    ViewBag.Title = "AllNews";
}

<div class="row" ng-controller="newsALLCtrl">
    <h2>All News</h2>
    <div class="col-md-12">
        <div class="col-md-2">
            <h3>Filters</h3>
            <h4>Year</h4>
            <div class="form-group">
                <label>Min date</label>
                <datepicker date-format="yyyy-MM-dd" selector="form-control">
                    <input type="text" class="form-control" name="max" ng-model="min">
                </datepicker>
            </div>
            <div class="form-group">
                <label>Max date</label>
                <datepicker date-format="yyyy-MM-dd" selector="form-control">
                    <input type="text" class="form-control" name="min" ng-model="max">
                </datepicker>
            </div>
            <hr />

        </div>
        <div class="col-md-10">
            <div class="col-md-3" ng-repeat="nw in news | dateRange : min : max">
                <figure class="thumbnail thumbnail-news">
                    <img src="{{ nw.Thumbnail }}" alt="{{ nw.Title }}" />
                    <a href="/Home/About/{{ nw.Id }}">
                        <h1>{{ nw.Title }}</h1>
                    </a>
                    <em class="badge">{{ nw.Post | date }}</em>
                    <figcaption>{{ nw.Content }}</figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/underscore.es5.min.js"></script>
<script src="~/Scripts/datepicker.js"></script>

<script>
    var _theObject = angular.module('newsApp', ['720kb.datepicker']);

    _theObject.controller('newsALLCtrl', function NewsAppController($scope, $http) {
        $scope.news = [];
        $scope.min = '2015-01-01';
        $scope.max = '2018-12-31';

        $http.get('http://localhost:51221/api/NewsAll').then(function (response) {
            $scope.news = response.data;
        });
    }).filter('dateRange', function () {
        return function (records, min, max) {
            return records.filter(function (news) {
                return news.Post >= min && news.Post <= max;
            });
        }
    });
</script>