@model IEnumerable<AppNews.Models.News>

@{
    ViewBag.Title = "AllNews";
}

<link href="~/Content/rzslider.min.css" rel="stylesheet" />

<div class="row" ng-controller="newsALLCtrl">
    <h2>All News</h2>
    <div class="col-md-12">
        <div class="col-md-2">
            <h3>Filters</h3>
            <h4>Year</h4>
            <rzslider rz-slider-model="sliderDate.min"
                      rz-slider-high="sliderDate.max"
                      rz-slider-options="sliderDate.options"></rzslider>
            <hr />

        </div>
        <div class="col-md-10">
            <div class="col-md-3" ng-repeat="nw in news">
                <figure class="thumbnail thumbnail-news">
                    <img src="{{ nw.Thumbnail }}" alt="{{ nw.Title }}" />
                    <a href="/Home/About/{{ nw.Id }}">
                        <h1>{{ nw.Title }}</h1>
                    </a>
                    <em class="badge">{{ nw.Post | date }}</em>
                    <figcaption>{{ nw.Content }}</figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>

<script src="https://rawgit.com/GMaxera/angularjs-slider/master/dist/rzslider.js"></script>
<script src="~/Scripts/underscore.es5.min.js"></script>

<script>
    var _theObject = angular.module('newsApp', ['rzModule']);

    _theObject.controller('newsALLCtrl', function NewsAppController($scope, $http) {
        $scope.news = [];
        $scope.sliderDate = {
            min: 2010,
            max: new Date().getFullYear(),
            options: {
                floor: 2010,
                ceil: new Date().getFullYear(),
            },
        }

        $http.get('http://localhost:51221/api/NewsAll').then(function (response) {
            $scope.news = response.data;
        });

        $scope.$watch("sliderDate.min", function (newValue, oldValue) {
            console.log(newValue);
        });

        $scope.$watch("sliderDate.max", function (newValue, oldValue) {
            console.log(newValue);
        });
    });
</script>