@using AppNews.Models
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row" ng-controller="newsCtrl">
    <div class="col-md-3" ng-repeat="nw in news">
        <figure class="thumbnail thumbnail-news">
            <img src="{{ nw.Thumbnail }}" alt="{{ nw.Title }}" />
            <a href="/Home/About/{{ nw.Id }}">
                <h1>{{ nw.Title }}</h1>
            </a>
            <em class="badge">{{ nw.Post | date }}</em>
            <figcaption>{{ nw.Content }}</figcaption>
        </figure>
    </div>
    @Html.ActionLink("View all news", "AllNews", "Home", new { @class = "btn btn-info" })
</div>

<script>
    var _theObject = angular.module('newsApp', []);

    _theObject.controller('newsCtrl', function NewsAppController($scope, $http) {
        $scope.news = [];
        $http.get('http://localhost:51221/api/News').then(function (response) {
            $scope.news = response.data;
        });
    });
</script>