
@{
    ViewBag.Title = "Search";
}

<h2>Search: @ViewBag.Keywords</h2>

<div class="row" ng-controller="searchCtrl">
    <div class="col-md-3" ng-repeat="nw in news">
        <figure class="thumbnail thumbnail-news">
            <img src="{{ nw.Thumbnail }}" alt="{{ nw.Title }}" />
            <a href="/Home/About/{{ nw.Id }}">
                <h1>{{ nw.Title }}</h1>
            </a>
            <em class="badge">{{ nw.Post | date }}</em>
            <figcaption>{{ nw.Content }}</figcaption>
        </figure>
    </div>
</div>

<script>
    var _theObject = angular.module('newsApp', []);

    _theObject.controller('searchCtrl', function NewsAppController($scope, $http) {
        $scope.news = [];

        var uri = 'http://localhost:51221/api/NewsAll/' + '@Convert.ToString(ViewBag.Keywords)';

        $http.get(uri).then(function (response) {
            $scope.news = response.data;

        });
    });
</script>